@mixin designbar {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: grey;
  z-index: -1;
}

.title::before {
  @include designbar();
  // left: -80px;
}

.title::after {
  @include designbar();
  // left: -80px;
}
