.message {
  margin: 12px 8px;
  padding: 8px;
  &.response {
    background-color: #fcedc6;
  }
  &.request {
    background-color: var(--bs-gray-200);
  }
}

.chat {
  height: 360px;
  max-height: 80%;
}

.rabbit {
  transform: scale(-1, 1);
}
