.cover {
  animation: bg_anim 500ms ease-in 5s both;
}

@keyframes bg_anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text {
  filter: drop-shadow(2px 2px 2px #0097e0);
  path {
    animation-name: stroke_anim, fill_anim;
    animation-duration: 500ms, 1s;
    animation-timing-function: linear;
    animation-fill-mode: backwards, forwards;
    @for $index from 1 through 36 {
      &:nth-child(#{$index}) {
        animation-delay: #{$index * 100}ms, 4s;
      }
    }

    stroke: #fff;
    fill: transparent;
    stroke-width: 0.4px;
    stroke-dasharray: 100px;
  }
}

@keyframes stroke_anim {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes fill_anim {
  100% {
    fill: #fff;
    stroke-width: 0px;
  }
}

.scroll {
  text-shadow: 0 0 8px grey;
}
