.bg{
  object-fit: cover;
}

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cover {
  background-color: white;
  animation: bg_anim 1s ease-in 5s both;

  .anim & {
    animation: bg_anim 0s ease-in 0s both;
  }
}

.message {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 16px;
  width: 90px;
  // -------------------------
  color: white;
  filter: drop-shadow(0px 0px 4px grey);
  font-size: 24px;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  filter: drop-shadow(2px 2px 2px #0097e0);
}

.svg path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 0.4px;
  stroke-dasharray: 100px;

  animation-name: stroke_anim, fill_anim;
  animation-duration: 600ms, 1s;
  animation-timing-function: linear;
  animation-fill-mode: backwards, forwards;
  @for $index from 1 through 37 {
    &:nth-child(#{$index}) {
      animation-delay: #{$index * 100}ms, 4s;
    }
  }

  .anim & {
    animation-duration: 0s, 0s;
    animation-delay: 0s;
  }
}

@keyframes stroke_anim {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes fill_anim {
  100% {
    fill: #fff;
    stroke-width: 0px;
  }
}

@keyframes bg_anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
