.headerWrapper {
  position: fixed;
  top: -60px;
  z-index: 1;
  width: 100%;
  animation: header_anim 0.5s ease-in 5s both;
}

.header {
  margin: 16px;
  padding: 8px;
  background-color: #ffffff;
  display: flex;
}

@keyframes header_anim {
  100% {
    top: 0px;
  }
}
